.left
  .weibo= link_to image_tag("frontpage/weibo.png"), "http://weibo.com/bostonfuyun"
  .facebook= link_to image_tag("frontpage/facebook.png"), "https://www.facebook.com/BoShiDunFuYunXiangShengShe"
  .email= link_to image_tag("frontpage/mail.png")
.middle
  .logo= image_tag("frontpage/logo.png")
  %h1.title= "波士顿浮云相声社"
  .photos
  .show
    .name= "农历甲午年中秋相声大会"
    .time= "二零一四年九月二十八日 星期日 下午一点整"
    .menu
      .menu1#menu= "猪八戒拱地"
      .actor1#actor= "张宝芳"
      .menu2#menu= "四大名著"
      .actor2#actor= "张俊川&韩炤鸿"
      .menu3#menu= "买卖论"
      .actor3#actor= "胡小赫&王端"
      .menu4#menu= "武林外传"
      .actor4#actor= "虎天翊&吕东鸣"
      .meun5#menu= "学聋哑"
      .actor5#actor= "郑辰&陈重周"
      .meun6#menu= "大上寿"
      .actor6#actor= "曾行&谭丰"
  .ticket= "点此购票"
.right
  .intro#block= "浮云简介"
  .member#block= "成员介绍"
  .history#block= "历史回顾"